body{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    font-size: 3.2vw;
    font-family: "Noto Sans JP";

    background: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
}

h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    font-weight: normal;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h1{
    font-size: 6.4vw;
}

h2{
    font-size: 4.8vw;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 28vw;

    background: rgb(255, 255, 255);
    border-radius: 0 0 50% 50% / 0 0 2vw 2vw;
    border-top: 1vw solid rgb(60, 120, 100);
    filter: drop-shadow(0 0.32vw 0.32vw rgb(120, 120, 120));
}

#titleHeader{
    display: inline-block;
    text-decoration: none; 
    color: rgb(60, 60, 60);
    margin-bottom: 1.6vw;
}

#icon{
    width: 9.6vw;
    margin-right: -2vw;
}

#searchForm{
    width: 82vw;

    text-align: center;
}

#search{
    width: 82vw;
    height: 6vw;

    padding: 0 2vw;
    margin-bottom: 1.2vw;

    background: rgb(245, 245, 245);

    border-radius: 3vw / 3vw;
    border-width: 0;

    font-size: 2.4vw;
}

#search:focus{
    outline: 0;
}

#changeRange{
    display: flex;
    align-items: center;

    height: 6vw;
    margin-bottom: 1.2vw;

    cursor: pointer;
}

.changeRangeButton{
    flex-shrink: 1;
    width: 100%;
    color: rgb(180, 180, 180);
    font-size: 2.4vw;
}

.buttonActive{
    color: rgb(60, 60, 60);
}

.verticalHr{
    height: 60%;
    border: solid thin rgb(160, 160, 160);
}

#contents{
    display: flex;
    flex-wrap: wrap;

    width: 84vw;
    margin-top: 2.4vw;
}

.smallArticle{
    width: 80vw;
    height: 32vw;

    padding: 2vw;
    margin: 2vw 0;

    background: rgb(255, 255, 255);
    border-radius: 1.6vw / 1.6vw;

    filter: drop-shadow(0 0.32vw 0.32vw rgb(160, 160, 160));
    cursor: pointer;
}

.isSleep{
    opacity: 0.6;
}

.status{
    margin: -2vw -2vw 0 -2vw;
    padding-left: 2vw;
    font-size: 3.2vw;
    color: rgba(255, 255, 255, 1);
    height: 4.8vw;
    border-radius: 1.6vw 1.6vw 0 0 / 1.6vw 1.6vw 0 0;
}

.event_name{
    padding: 2vw 0 0 0;
}

.contact{
    margin-left: 4.8vw;
    font-size: 3.2vw;
}

.category_case{
    margin-right: 4.8vw;
    margin-top: 11.2vw;
    text-align: right;
}

.category{
    font-size: 2.4vw;
}

.category::before{
    content: '#';
}

#indexForm{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    width: 100%;
    font-size: 3.2vw;
}

.pageButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8vw;
    height: 8vw;

    cursor: pointer;
}

.buttonHidden{
    color: rgb(160, 160, 160);
}

.hr{
    width: 40%;
    border: solid thin rgb(160, 160, 160);
}

footer{
    margin-top: 8vw;
}

#zoomEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.zoomArticle{
    width: 84vw;

    padding: 3.2vw;

    background: rgb(255, 255, 255);
    border-radius: 1.6vw / 1.6vw;
    overflow: auto; 
}

.zoomStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: -3.2vw -3.2vw 0 -3.2vw;
    padding-left: 2vw;
    font-size: 3.2vw;
    color: rgba(255, 255, 255, 1);
    height: 6.4vw;
    border-radius: 1.6vw 1.6vw 0 0 / 1.6vw 1.6vw 0 0;
}

.zoomEvent_name{
    font-size: 4.8vw;
    white-space: normal;
    padding: 1vw 0 0 0;
}

.zoomDescription{
    font-size: 3.2vw;
    padding: 0 6vw 6.4vw 4vw;
    white-space: normal;
}

dt{
    font-size: 2.4vw;
    margin-left: 2vw;
}

dd{
    font-size: 2vw;
    margin: 0 0 1vw 6vw;
}

.url{
    display: inline-block;
    padding: 0 1.2vw;
    text-decoration: underline;
    color: rgb(60, 60, 60);
}

.zoomRemarks{
    padding-right: 4vw;
    white-space: normal;
}

.zoomCategory{
    width: 96%;
    text-align: right;
    font-size: 2vw;
}

.zoomCategory::before{
    content: '#';
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6.4vw;
    height: 6.4vw;

    margin-right: 1.6vw;
    font-size: 3.2vw;

    cursor: pointer;
}