body{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    font-size: 1.2vw;
    font-family: "Noto Sans JP";

    background: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
}

h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    font-weight: normal;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h1{
    font-size: 3.2vw;
}

h2{
    font-size: 1.6vw;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 12vw;

    background: rgb(255, 255, 255);
}

#titleHeader{
    text-decoration: none; 
    color: rgb(60, 60, 60);
}

#searchForm{
    width: 82vw;

    text-align: center;
}

#search{
    width: 82vw;
    height: 2vw;

    padding: 0 0.75vw;

    background: rgb(245, 245, 245);

    border-radius: 1vw / 1vw;
    border-width: 0;

    font-size: 0.8vw;
}

#search:focus{
    outline: 0;
}

#changeRange{
    display: flex;
    align-items: center;

    height: 3vw;

    cursor: pointer;
}

.changeRangeButton{
    width: 100%;
    color: rgb(180, 180, 180);
}

.buttonActive{
    color: rgb(0, 0, 0);
}

.verticalHr{
    height: 60%;
    border: solid thin rgb(160, 160, 160);
}

#contents{
    display: flex;
    flex-wrap: wrap;

    width: 84vw;
}

.smallArticle{
    width: 24vw;
    height: 12vw;

    padding: 1vw;
    margin: 1.5vw 1vw;

    background: rgb(255, 255, 255);
    border-radius: 0.8vw / 0.8vw;
}

.isSleep{
    opacity: 0.6;
}

.status{
    margin: -1vw -1vw 0 -1vw;
    padding-left: 1vw;
    font-size: 1vw;
    color: rgba(255, 255, 255, 1);
    height: 1.5vw;
    border-radius: 0.8vw 0.8vw 0 0 / 0.8vw 0.8vw 0 0;
}

.event_name{
    padding: 1vw 0 0 0;
}

.contact{
    margin-left: 2vw;
}

.category{
    font-size: 1vw;
    text-align: right;
    margin-right: 1.5vw;
    margin-top: 5vw;

    cursor: pointer;
}

.category::before{
    content: '#';
}

#indexForm{
    display: flex;

    width: 100%;
    text-align: center;
}

.pageButton{
    width: 100%;
}

.buttonHidden{
    color: rgb(160, 160, 160);
}

.hr{
    width: 40%;
    border: solid thin rgb(160, 160, 160);
}

footer{
    margin-top: 4vw;
}

#zoomEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.zoomArticle{
    width: 80vw;

    padding: 2vw;

    background: rgb(255, 255, 255);
    border-radius: 0.8vw / 0.8vw;
    overflow: auto; 
}

.zoomStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: -2vw -2vw 0 -2vw;
    padding-left: 2vw;
    padding-right: 1vw;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    height: 2vw;
    border-radius: 0.8vw 0.8vw 0 0 / 0.8vw 0.8vw 0 0;
}

.zoomEvent_name{
    font-size: 2em;
    white-space: normal;
    padding: 1vw 0 0 0;
}

.zoomDescription{
    padding: 0 4vw 1vw 2vw;
    white-space: normal;
}

dt{
    font-size: 1.25vw;
    margin-left: 1vw;
}

dd{
    font-size: 1vw;
    margin-left: 3vw;
}

.url{
    display: inline-block;
    padding: 0 0.5vw;
    text-decoration: none;
    color: rgb(60, 60, 60);
    border-bottom: solid thin rgb(60, 60, 60);
}

.zoomRemarks{
    padding-right: 4vw;
    white-space: normal;
}

.zoomCategory{
    width: 96%;
    text-align: right;
    font-size: 1vw;
}

.zoomCategory::before{
    content: '#';
}

.fa-times{
    font-size: 1.2vw;

    cursor: pointer;
}